* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  position: relative;
  margin: auto;
  width: 100%;
}

section h3 {
  display: none;
}

body {
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.logo-title {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.logo-title h2 {
  font-size: 50%;
  line-height: 380%;
}

.body-space {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.nav-part {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav-part.logo {
  padding-left: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat", sans-serif;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

.nav-part ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  margin-right: 6%;
}

.nav-part ul li {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.nav-part ul li .post i svg path {
  fill: white;
}

.nav-part ul li i {
  padding-right: 5px;
}

.back-nav a {
  color: rgba(158, 158, 158, 0.733);
  background-color: #272727;
  text-decoration: none;
}

.nav-part ul li a {
  padding: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
}

.nav-part ul li a span {
  display: none;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 11;
}

.row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mid {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.back-nav {
  color: rgba(47, 47, 47, 0.733);
  background-color: #272727;
}

main {
  margin-top: 70px;
}

.content {
  padding-top: 10px;
}

.main-container {
  width: 100%;
  height: calc(100vh - 70px);
}
